.menu-owl .owl-nav .owl-prev{
    left: -40px;
    font-size: 14px !important;
    position: absolute;
    top: 26%;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    padding: 7px 0 !important;
    background: #fff !important;
    border-radius: 100% !important;
    border: 1px solid #e6e6e6 !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}
.menu-owl .owl-nav .owl-next {
    font-size: 14px !important;
    position: absolute;
    right: -40px;
    top: 26%;
    padding: 7px 0 !important;
    text-align: center;
    height: 30px !important;
    width: 30px !important;
    background: #fff !important;
    border-radius: 100% !important;
    border: 1px solid #e6e6e6 !important;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}
.banner .banner-items .bnnr-text a, .banner .banner-items .bnnr-text p{
    color: #d02028;
}